.login-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #eeeeee;
}
.top {
    flex: 2;
    background: url('../../../assets/img/gemsbg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
    position: relative;
}
.logo {
    padding: 10px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 60%;
}
.bottom {
    flex: 2;
    // background: url('../../../assets/img/footerbg.jpg');
    background: #eee;
    background-position: bottom;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ion-item {
    margin-bottom: 5px;
    border-radius: 10px;
}
ion-button {
    height: 50px;
}
