<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login-wrapper">
    <div class="top">
      <div class="rainbow" style="width: 100%;">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="logo">
        <img src="assets/img/gemslogo.png" alt="">
      </div>
    </div>
    <!-- <div class="gems-border"></div> -->

    <div class="bottom">
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <ion-item>
          <ion-input name="username" ngModel placeholder="Enter Username" type="text" #usernameInput="ngModel"
                     required username></ion-input>
          <ion-button slot="start" fill="clear">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-item>

        <span class="error-msg" style="color: red" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a valid username</span>
        <div style="height: 5px"></div>

        <ion-item>
          <ion-input name="password" ngModel placeholder="Enter Password" type="password" #passwordInput="ngModel"
                     required></ion-input>
          <ion-button fill="clear" slot="start">
            <ion-icon name="key"></ion-icon>
          </ion-button>
        </ion-item>


        <span class="error-msg" style="color: red" *ngIf="passwordInput.invalid && passwordInput.touched">Please
          enter a valid password</span>

        <ion-button shape="round" type="submit" color="primary" expand="full">Sign In</ion-button>
      </form>

    </div>
  </div>
</ion-content>