<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>GEMS</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="wrapper">
    <ion-slides pager [options]="slideOpts">
      <ion-slide>
        <div class="top">
          <img src="assets/img/claims.svg" alt="">
        </div>
        <div class="bottom">
          <h2>Access Your Claims</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolorum. Laboriosam, aliquid odit</p>
          <ion-button color="primary" fill="outline" shape="round" routerLink="/onboard">Skip</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top">
          <img src="assets/img/directions.svg" alt="">
        </div>
        <div class="bottom">
          <h2>Find Nearest Provider</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolorum. Laboriosam, aliquid odit</p>
          <ion-button color="primary" fill="outline" shape="round" routerLink="/onboard">Skip</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top">
          <img src="assets/img/card.svg" alt="">
        </div>
        <div class="bottom">
          <h2>Change Your Plan</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolorum. Laboriosam, aliquid odit</p>
          <ion-button color="primary" fill="outline" shape="round" routerLink="/onboard">Continue</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
