<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title>GEMS</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="wrapper">
    <ion-slides pager [options]="slideOpts">
      <ion-slide>
        <div class="top">
          <img src="assets/img/directions.svg" alt="">
        </div>
        <div class="bottom">
          <h2>24/7 Support</h2>
          <p>Meet (Example), our Virtual Assistant who will take care of your all healthcare needs 24/7</p>
          <ion-button color="success" fill="outline" shape="round" routerLink="/onboard">Skip</ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top">
          <img src="assets/img/claims.svg" alt="">
        </div>
        <div class="bottom">
          <h2>Access Your Claims</h2>
          <p>Get instant access to your claims anytime when you need them</p>
          <ion-button color="primary" fill="outline" shape="round" routerLink="/onboard">Skip</ion-button>
        </div>
      </ion-slide>
      
      <ion-slide>
        <div class="top">
          <img src="assets/img/card.svg" alt="">
        </div>
        <div class="bottom">
          <h2>Order New Card</h2>
          <p>Wanna order a new card?<br> It just got easier!!</p>
          <ion-button color="danger" fill="outline" shape="round" routerLink="/onboard">Continue</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
