<ion-header>
  <ion-toolbar color="dark">
    <div class="topitem">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img [src]="MemberImage" alt="">
        </ion-thumbnail>
        <ion-label>
          <h2>{{profile?.FullName}}</h2>
          <p>{{profile?.MemberNo}}</p>
          <p>{{profile?.Plan.BenefitPlanName}}</p>
          <!-- <p class="switch">Switch Account</p> -->
        </ion-label>
        <ion-icon routerLink="/onboard" slot="end" color="warning" name="log-out-outline"></ion-icon>
      </ion-item>
    </div>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment [(ngModel)]="user" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="member">
        <ion-label>Member</ion-label>
      </ion-segment-button>
      <ion-segment-button value="activity">
        <ion-label>Activity</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="benefit">
        <ion-label>Benefit</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<!-- <div class="gems-border"></div> -->

<ion-content>
  <ion-grid class="ion-no-padding benefit-slide" *ngIf="user === 'member'">
    <ion-row class="details">
      <ion-col>
        <div class="detail">
          <h2 class="title">Date of Birth</h2>
          <p>{{profile?.DOB | date: 'mediumDate'}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="detail">
          <h2 class="title">Marital Status</h2>
          <p>{{profile?.MemberMaritalStatus.Description}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="detail">
          <h2 class="title">ID Number</h2>
          <p>{{profile?.MemberIDNo}}</p>
        </div>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <ion-slides [options]="slideOpt">
          <ion-slide>
            <!-- <ion-icon name="home"></ion-icon> -->
            <p>ALLOCATED</p>
            <h2 *ngIf="dayToDayBenefits">R{{dayToDayBenefits[0].MaxAmount.Amount}}</h2>
          </ion-slide>
          <ion-slide>
            <!-- <ion-icon name="home"></ion-icon> -->
            <p>USED</p>
            <h2 *ngIf="dayToDayBenefits">R{{dayToDayBenefits[0].FreeAmount.Amount}}</h2>
          </ion-slide>
          <ion-slide class="darkslide">
            <!-- <ion-icon name="home"></ion-icon> -->
            <p>USED</p>
            <h2 *ngIf="dayToDayBenefits">R{{dayToDayBenefits[0].UsedAmount.Amount}}</h2>
          </ion-slide>
          <ion-slide>
            <!-- <ion-icon name="home"></ion-icon> -->
            <p>USED</p>
            <h2>R2,875</h2>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="dep-wrapper">
          <span class="dep-title">Dependants</span>
          <div class="dependants">
            <div class="dependant" *ngFor="let dependant of profile?.Dependants">
              <img src="https://api.gems.gov.za/api/v1/MemberImage/{{dependant.BeneficiaryID}}?counter=0" alt="">
            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding activity" *ngIf="user === 'activity'">
    <ion-row>
      <ion-col class="ion-no-padding">
          <ion-item *ngFor="let item of activity" lines="none" detail button>
            <ion-label>
              <h2>{{item.Header}}</h2>
              <p>{{item.DOA | date: 'mediumDate'}}</p>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="user === 'benefit'" class="benefits">
    <ion-row>
      <ion-col>
        Benefits
        <ion-slides [options]="slideOpt">
          <ion-slide>
            <div class="graph">
              <!-- <ion-icon name="home"></ion-icon> -->
              <p>Remaining</p>
              <h2>R2,875</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="graph">
              <!-- <ion-icon name="home"></ion-icon> -->
              <p>Remaining</p>
              <h2>R2,875</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="graph">
              <!-- <ion-icon name="home"></ion-icon> -->
              <p>Remaining</p>
              <h2>R2,875</h2>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="graph">
              <!-- <ion-icon name="home"></ion-icon> -->
              <p>Remaining</p>
              <h2>R2,875</h2>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-6 class="ion-no-padding">
        <div class="graph">
          <p>Remaining</p>
          <h2>R2,875</h2>
        </div>
      </ion-col>
      <ion-col col-6 class="ion-no-padding">
        <div class="graph">
          50%
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>