<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="header-area">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-6 class="ion-no-padding name-section">
          <h1 class="heading">Hello, <br>Norman</h1>
        </ion-col>
        <ion-col col-6 class="ion-no-padding ion-text-end">
          <fa-icon class="coins" [icon]="icons.faCoins" size="10x"></fa-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="options-grid">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5 bottom-5 ion-activatable ripple-parent">
            <fa-icon [icon]="icons.faHandHoldingUsd" size="2x"></fa-icon>
            <span class="title">Claims</span>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5 bottom-5">
            <fa-icon class="coins" [icon]="icons.faCoins" size="2x"></fa-icon>
            <span class="title">Benefits</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box bottom-5">
            <fa-icon class="coins" [icon]="icons.faEye" size="2x"></fa-icon>
            <span class="title">360&deg; View</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5">
            <fa-icon [icon]="icons.faUserTie" size="2x"></fa-icon>
            <span class="title">My Plan</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5">
            <fa-icon [icon]="icons.faPaperPlane" size="2x"></fa-icon>
            <span class="title">Submit</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box">
            <fa-icon [icon]="icons.faSearchLocation" size="2x"></fa-icon>
            <span class="title">Providers</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="activity" *ngIf="news">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-label>
            <h2 class="activity-title">Latest News</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="activity-list-wrapper">
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <img src="https://www.mendeley.com/careers/getasset/c475b7c0-d36c-4c73-be33-a34030b6ca82/" alt="">
              </ion-thumbnail>
              <ion-label>
                <h2>Standard Item</h2>
                <p>27 June 2020</p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <img src="https://img.imageboss.me/poisonorg/cdn/~/media/images/shared/articles/2013-feb/can-grapefruit-and-medcines-mix-1.jpg" alt="">
              </ion-thumbnail>
              <ion-label>
                <h2>Standard Item</h2>
                <p>27 June 2020</p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <img src="https://www.mendeley.com/careers/getasset/c475b7c0-d36c-4c73-be33-a34030b6ca82/" alt="">
              </ion-thumbnail>
              <ion-label>
                <h2>Standard Item</h2>
                <p>27 June 2020</p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <img src="https://www.mendeley.com/careers/getasset/c475b7c0-d36c-4c73-be33-a34030b6ca82/" alt="">
              </ion-thumbnail>
              <ion-label>
                <h2>Standard Item</h2>
                <p>27 June 2020</p>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>




  <div class="activity" *ngIf="!news">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-label>
            <h2 class="activity-title">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="activity-list-wrapper">
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div style="height: 80px"></div>

</ion-content>