<ion-content>
  <div class="wrapper">
    <div class="logowrap">
      <div class="logo">
        <img src="assets/img/gemslogo.png" alt="">
      </div>
    </div>


    <div class="bottombtn">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" fill="outline" color="light" routerLink="/login">Log In</ion-button>
            <ion-button expand="block" color="warning" routerLink="/tabs/tabs/home">Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>