<ion-content>
  <div class="wrapper">
    <div class="logowrap">
      <div class="logo">
        <img src="assets/img/gemslogo.png" alt="">
      </div>
    </div>


    <div class="bottombtn">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button shape="round" expand="block" fill="outline" color="light" routerLink="/login">Get Started</ion-button>
            <ion-button shape="round" expand="block" color="warning" routerLink="/information">Useful Information</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>