<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Benefits</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="gems-border">
  <div class="rainbow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let benefit of benefits" lines="full" detail button>
      <ion-icon slot="start" name="fitness"></ion-icon>
      {{benefit?.Description | titlecase}}
    </ion-item>
  </ion-list>
  
</ion-content>
