<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Benefits</ion-title>
  </ion-toolbar>
</ion-header>
<div class="gems-border"></div>

<ion-content>
  <ion-card>
    <ion-item lines="full" detail button>
      <ion-icon slot="start" src="assets/img/tooth.svg"></ion-icon>
      Dental Care
    </ion-item>
    <ion-item lines="none">
      <ion-progress-bar color="success" value="0.9"></ion-progress-bar>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item detail button>
      <ion-icon slot="start" src="assets/img/tooth.svg"></ion-icon>
      Dental Care
    </ion-item>
    <ion-item lines="none">
      <ion-progress-bar color="success" value="0.7"></ion-progress-bar>
    </ion-item>
  </ion-card>
</ion-content>
